<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />           
    </startup>
  <connectionStrings>
    <add name ="SurgeryConnString"
         connectionString ="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\Degree work\Level 6\Software Engineering\Assignment2Program\Assignment2Program\SurgeryDatabase.mdf;Integrated Security=True;Connect Timeout=30"
         providerName =" System.Data.SqlClient" />
  </connectionStrings>
</configuration>